{% extends "base.html" %}

{% block content %}
  <h1>Always there</h1>
  <h2>With a comment </h2> <!-- inline comment -->
  <h2>Chapters 1-3</h2> <!--@= 1-3 chapters 1-3 with comment -->
  <h2>Chapters 1-2</h2> <!--@= -2 -->
  <h2>Chapters 2 and on </h2> <!--@= 2- -->
  <!--@+ 3-4 closed block section with leading comment

  <p>
    This should only show in chapters 3-4 and have a leading comment
  </p>
  @+-->
  <!--@[ 6- open block section with leading comment -->

  <p>
    This block shouldn't show until chapter 6. This is the highest chapter
    mentioned anywhere.
  </p>
  <!--@] -->
{% endblock content %}
